body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

.clr{
    clear: both;
}

.container{
        margin: 0% auto;
        width: 90%;
    }
    #red-txt{
        color: #FF305B;
    }
#section1 {
    background-image: url(images/header.jpeg);
    height: 100vh;
    background-size: cover;
    overflow: auto;
    position: relative;
}
.bg-shadow{
    background-color:rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
}

#section1 .sec1-content{
    text-align: center;
    position: absolute;
    top:40%;
    left:35%;
}
#section1 .sec1-content h3{
    font-size:29px;
    font-weight: 600; 
    color:white;
    margin: 0;
    padding: 0;
}
#section1 .sec1-content h1{
    color:#FF305B;
    font-size: 75px;
    font-weight: 900px;
    margin: 0;
    padding: 0;
    }

/* animation text */
    .typewriter {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 37%;
    font-size: 2rem;
    color: white;
    white-space: nowrap;
    padding-top: 20px;
}

.text {
    display: inline-block;
    animation: typing 3s steps(12) forwards, deleting 3s steps(12) 6s forwards, cursor-blink 1s step-end infinite;
    animation-iteration-count: infinite;
    overflow: hidden;
    border-right: 2px solid white;
}

/* Typing animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 27ch;
    }
}

/* Deleting animation */
@keyframes deleting {
    0% {
        width: 27ch;
    }
    100% {
        width: 12ch;
    }
}

@keyframes cursor-blink {
    from {
        border-right-color: white;
    }
    to {
        border-right-color: transparent;
    }
}
/* navbar */
.navbar {
    background-color: transparent;
    width: 100%;
}

.nav-logo span {
    float: left;
    font-weight: bold;
    color: white;
    font-size: 30px;
    color: #FF305B;
    padding: 25px 0;
}

.nav-items ul {
    list-style: none;
    float: right;
}
.nav-items ul li {
    float: left;
}
.nav-items ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block; 
    font-size: 18px;
}
.nav-items a:hover{
    color: #FF305B;
}
.nav-items{
    margin: 0%;
}
#section2 {
    overflow: auto;
}

#section2 .sec2-img {
    border: 10px solid #555555;
    border-radius: 10px;
    width: 380px;
    height: 480px;
    margin: 50px;
    position: relative;
    float: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease;
}
#section2 .sec2-img img {
    width: 400px;
    position: absolute;
    left: 7%;
    top:5%;
    border-radius: 10px;
    z-index: 1; 
}
/* ......................... */
.cover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.57);
    right: 0;
    bottom: 0;
    top: 5%;
    left: 7%;
    width: 400px;
    height: 490px;
    opacity: 0;
    transition: height 0.5s ease;
    
    z-index: 2; 
}
.ul {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}
.cover i {
    display: inline-block;
    margin-left: 15px;
    color: white;
}
.sec2-img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 

}
 .sec2-img:hover .cover {
    opacity: 1;
    transform: scale(1);
} 
.about .sec2-img .cover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    transition: height 1s ease;
  }
  
  .about .sec2-img:hover .cover {
    height: 100%;
  }
  .sec2-img:hover .cover .cover-item i:hover{
    color: #FF305B;

  }
#section2 .sec2-cont{
    padding-top: 40px;
    width:55%;
    float: right;   
}
#section2 .sec2-cont h2{
    padding-left: 20px;
    position: relative;
    font-size: 30px;
}
#section2 .sec2-cont h2::before{
    content: '';
    position: absolute;
    top: 9%;
    left: 0%;
    background-color:red;
    width: 5px;
    height: 35px;
    z-index:5;
}
#section2 .sec2-cont p{
    font-size: 20px;
    color: #555555;
    position: relative;
}
#section2 .sec2-cont .sec2-cont-p{
    border-bottom: #555555 dashed 1px;
    padding-bottom: 30px;
}
#section2 .sec2-cont .span-title{
    width: 50%;
    float: left;
    
}
#section2 .sec2-cont span{
    font-size: 24px;
    font-weight: 300px;
    float: left;
    padding-top: 15px;
}

.sec2-btns button{
    background-color: #FF305B;
    color: white;
    border: none;
    width: 180px;
    height:55px;
    border-radius: 10px;
    font-size: 17px;
    
}

.sec2-btns button:hover{
    background-color: #EC2403;
}
.sec2-btns .btn2{
margin-left:20px ;
}
/* ................................................................ */
/* Our Services */
    #section3{
        width: 100%;
        background-color: #F1F1F1;
        position: relative;
    }
    #section3 .sec3-cont{
        padding-block: 90px;
    }
    #section3 .sec3-cont .sec3-items{
        width: 23%;
        float: left;
        margin-top: 40px;

        padding: 10px;
        position: relative;
        left: 2%;
    }
    #section3 .sec3-cont h2{
        font-size: 40px;
        font-weight: 800;
        text-align: center;
    }
    
    #section3 .sec3-items p {
        text-indent: 20px;
        font-size: 17px;
        line-height: 1.6;
        text-align: center;
        color: #555555;
    }
.sec3-items i {
    position: absolute;
    top: 5%;
    left: 42%;
    transition: transform 1s;
    font-size: 33px;
    color: #FF305B;
    margin-top: 15px;
}
.sec3-items .ui{
    font-size: 42px;
}
.sec3-items h4 {
    padding-top: 50px;
    font-size: 25px;
    font-weight:500;
    text-align: center;
}

.sec3-items:hover {
    background-color: white;
    box-shadow:  0 6px 6px rgba(0, 0, 0, 0.19);
}

#section3 .sec3-items:hover .icons {
    transform: scale(1.4);
    color: #ff305b;
}

/* ........................................................ */
    .Portfolio {
        width: 100%;
        text-align: center;
        padding: 5% 0 5%;
    }
    .Portfolio .container .section-title {
        padding: 9px ;
    }
    
    .Portfolio .container .section-title h2 {
        font-size: 40px;
        font-weight: 800;
        line-height: 30px;
    
        padding-bottom: 20px;
        position: relative;
        text-transform: capitalize;
        color: #333333;

    }
    .Portfolio .container .section-menu {
        margin-bottom: 50px;
    }
    .Portfolio .container .section-menu a {
        font-size: 20px;
        color: #333;
        padding-right: 20px;

        text-decoration: none;
    }
    .Portfolio .container .section-menu a:hover {
        color: #ff305b;
    }


    .item {
        width: 30%;
        margin: 10px;
        position: relative;
        text-align: center;
        float: left;
        left: 3%;
    }
    
    
    .item img {
        max-width: 100%;
        height: auto;
    
    }
    
    

    .photo_icon {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.57);
        right: 100%;
        bottom: 100%;
        visibility: hidden;
        transition: background-color 1s ;
    }

.item:hover .photo_icon {
    right: 0;
    bottom: 0;
    visibility:visible;
    
}

.photo_icon i {
    position: absolute;
    bottom: 9px;
    right: 13px;
    color:#ff305b;
    
}

#stats-section {
    margin-block: 60px;
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center; 
    height: 250px;
    position: relative;

    /* Flexbox for centering */
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;     /* Centers items vertically */
}


.stat-item {
    display: inline-block;
    width: 22%;
    margin: 10px;
    padding: 20px 0;
    text-align: center;
}

.stat-item i {
    font-size: 25px;
    color: #EC2403;
}

.stat-number {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.stat-text {
    color: #555;
    font-size: 1em;
}

/* review sec */
            #review-sec {
            /* padding-top: 70px; */
            padding-block: 70px;
            position: relative;
            top: 80%;
        }
        .review-item {
            width: 850px;
            height: 300px;
            border: none;
            position: relative;
            background-color: #F1F1F1;
            left: 20%;
            margin-top: 4%; /* Move down by 40% */
        }
        .review-item .triangle {
            width: 0;
            height: 0;
            border-top: #ff305b solid 100px;
            border-left: #ff305b solid 100px;
            border-right: transparent solid 100px;
            border-bottom: transparent solid 100px;
        }
        #review-sec h2 {
            position: absolute;
            top: -10%;
            left: 39%;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }
        .review-img {
            position: relative;
        }
        #review-sec .review-item .review-img img {
            position: absolute;
            left: 5%;
            bottom: 36%;
            border-radius: 50%;
            width: 150px;
        }
        #review-sec .review-item .review-txt {
            position: absolute;
            top: 0%;
            left: 25%;
        }
        #review-sec .review-item .review-txt h3 {
            font-size: 30px;
            font-weight: bold;
        }
        #review-sec .review-item .review-txt span {
            color: #777777;
        }
        #review-sec .review-item .review-txt p {
            font-size: 20px;
            line-height: 1.5;
            color: #777777;
        }
        #review-sec .review-item .review-txt .star {
            font-size: 20px;
            color: #F1C30D;
        }
        #review-sec .review-item .review-txt .location {
            color: #777777;
        }
        .under-rev {
            width: 21px;
            height: 9px;
            background-color: #ff305b;
            position: relative;
            left: 50%;
            border-radius: 9px;
            top: 5px;
        }
        
        .under-rev::after {
            content: '';
            width: 8px;
            height: 8px;
            background-color: transparent;
            border: 1px solid #ff305b;
            position: absolute;
            left: 117%;
            border-radius: 60px;
            top: -1px;
        }
/* Our-Blog */
#Our-Blog {
    width:100%;
    background-color: #F1F1F1;
    float: left;
    margin: 50px 0;
    position: relative;
    
}
#Our-Blog h2{
    /* text-align: center; */
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin: 50px 0;
    position: relative;
    left: 44%;


}
#Our-Blog .blog-items{
    width:27%;
    float: left;
    background-color: white;
    margin: 20px;
    position: relative;
    left: 5%;

}
#Our-Blog .blog-items .img-blog img, iframe{
    width: 100%;
    height: 200px;

}
#Our-Blog .blog-items .blog-txt span{
    margin-top: 20px;
}

#Our-Blog .blog-items  .blog-txt h3{
    font-size: 29px;
    color: #333;
    
}
#Our-Blog .blog-items  .blog-txt h3:hover{
    color:#ff305b;
    transition: all 500ms;
}
#Our-Blog .blog-items  .blog-txt p{
    font-size:22px;
    line-height: 1.2;
    color: #333333;
}
#Our-Blog .blog-items  .blog-txt{
    padding: 20px 20px;
}

#Our-Blog .blog-items  .blog-txt .Read-span:hover{
    color:#ff305b;
    transition: all 500ms;
}
/* contact */

#contact-form {
    width: 50%;
    position: relative;
    left: 28%;
}

#contact-form form input:hover {
    border: 2px solid #EC2403;
}

#contact-form form textarea:hover {
    border: 2px solid #EC2403;
}

#contact-form h2 {
    position: relative;
    left: 35%;
    padding-top: 50px;
    font-size: 40px;
    font-weight: 800;
    color: #333;
}

#contact-form textarea {
    width: 95%;
    height: 100px;
}

.input-txt, .input-mail {
    width: 46%;
    height: 40px;
    margin: 30px 1%;
    float: left;
}

#contact-form .subject {
    width: 610px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
    clear: both;
}

#contact-form form textarea {
    margin-bottom: 30px;
    margin-left: 20px;
    clear: both;
}

#contact-form form .contact-btn {
    margin-left: 20px;
    width: 180px;
    height: 50px;
    background-color: #ff305b;
    color: white;
    margin-bottom: 20px;
    border: none;
    border-radius: 7px;
    font-size: 18px;
}

#contact-form form .contact-btn:hover {
    background-color: #EC2403;
}

/* footer */
#footer {
    background-color: #333333;
    width: 100%;
    height: 200px;
    position: relative;
}
#footer .footer-item{
    text-align: center;
    position: absolute;
    top:40%;
    left: 34%;
}
#footer .footer-item span{
    color: #FF305B;
}
#footer .footer-item i{
    padding-inline: 16px;
    color: white;
    font-size: 18px;
    height: 40px;
}
#footer .footer-item i:hover{
    color: #ff305b;
    transition: all 1s;
}
#footer .footer-item p{
    color: white;
    font-size: 20px;
}

/* ................................................. */
.section-title {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.lines-title {
    position: relative;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 200px;
    background-color: #ff305b;
    transform: translateX(-50%);
}

.lines-title::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80px;
    left: 25%;
    bottom: 8px;
    background-color: #ff305b;
}

.lines-title::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 80px;
    left: 25%;
    bottom: -8px;
    background-color: #ff305b;
}
/* ........................................ */
